* {
  font-family: 'Inter', sans-serif;
  color: white;
  background-color: #1a242c;
}

h1 {
  font-size: 72px !important;
  font-weight: 300;
  color: #2fb3ff;
  background-color: transparent;
}

h2 {
  font-size: 48px !important;
  font-weight: 200;
  color: white;
  background-color: transparent;
}

h3 {
  font-size: 26px !important;
  font-weight: 100;
  color: white;
  background-color: transparent;
}

p {
  font-size: 18px !important;
  font-weight: normal;
  color: #727782;
  background-color: transparent;
}

@media (max-width: 770px) {
  h1 {
    font-size: 48px !important;
    font-weight: 300;
    text-shadow: 1px 1px 3px #727782;
  }

  h2 {
    font-size: 26px !important;
    font-weight: 200;
  }

  h3 {
    font-size: 16px !important;
    font-weight: 100;
  }

  p {
    font-size: 12px !important;
  }
}

.container {
  max-width: none !important;
  font-size: 1rem !important;
}
